<h1>{{title}}</h1>
<p>Welcome to my "" {{title}}</p>

<div>
    {{#each data}}
        <div class="row"  style="display: flex ; flex-direction: column ; text-align: center" >
            <div class="col-md-12">
            <img src="{{image}}" style="width:200px">
               <h1>{{title}}</h1>  
                <h2>${{price}} </h2>  
                  <p>{{description}}</p> 
                </div>
        </div>
    {{/each}}
</div>


<div>
    {{#each res}}
        <div class="row"  style="display: flex ; flex-direction: column ; text-align: center" >
            <div class="col-md-12">
            <img src="{{image}}" style="width:200px">
               <h1>{{title}}</h1>  
                <h2>${{price}} </h2>  
                  <p>{{description}}</p> 
                </div>
        </div>
    {{/each}}
</div>


